body {
    text-align: center;
    background-color: #d4ebf2;
}

.main {
    background-color: #DBDCDE;
    width: 600px;
    margin: auto;
    border-radius: 25px;
    padding: 10px;
    /* overflow: hidden; */
    box-shadow: 0 0 10px 5px black;
}

/* so that when the screen gets small, the content of the div do not get all disorganized looking */
/* @media only screen and (max-width: 1320px) {
    .main {
        width: fit-content;
    }
} */

.tdleft {
    width: 150px;
    /* text-align: center */
}

.tdright {
    width: 300px;
    text-align: left;
    /* column-span: "2"; */
}

.zip {
    display: grid;
    grid-template-columns: auto auto;
}

.zipinp {
    grid-column: 1;
    justify-self: left;
}

.ziperror {
    grid-column: 2;
    justify-content: center;
}

span {
    color: red;
    font-size: x-small;
}

.rowspace {
    height: 25px;
}