body {
    text-align: center;
    background-color: #d4ebf2;
    /* margin-left: 5%;
    margin-right: 5%; */
    font-family: Calibri;
}

button,
input[type="submit"] {
    font-family: Calibri;
    border-radius: 10px;
    width: 80px;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    cursor: pointer;
    background-color: #8d8d8d;
}

.main {
    background-color: #DBDCDE;
    width: 600px;
    margin: auto;
    border-radius: 25px;
    padding: 10px;
    /* overflow: hidden; */
    box-shadow: 0 0 10px 5px black;
}

/* so that when the screen gets small, the content of the div do not get all disorganized looking */
/* @media only screen and (max-width: 1320px) {
    .main {
        width: fit-content;
    }
} */

.tdleft {
    width: 150px;
    /* text-align: center */
}

.tdright {
    width: 300px;
    text-align: left;
    /* column-span: "2"; */
}


.rowspace {
    height: 25px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 20%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* CSS reads style rules from top to bottom, so you want your fallback property to come before your desired property */
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


.modalMessage {
    /* display: none; */
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 25px;
    box-shadow: 0 0 10px 5px black;
}





/* Start AddEvent Specific */
.zip {
    display: grid;
    grid-template-columns: auto auto;
}

.zipInp {
    grid-column: 1;
    justify-self: left;
}

.zipError {
    grid-column: 2;
    justify-content: center;
}

span {
    color: red;
    font-size: x-small;
}

/* End AddEvent Specific */




/* Start EditEvent Specific */
.info {
    color: black;
}

.info:hover,
.info:focus {
    color: red;
    cursor: pointer;
}

.pictureEdit {
    display: grid;
    width: 400px;
    grid-template-columns: 75% 25%;
}

.picInp {
    grid-column: 1;
    justify-self: left;
}

.picError {
    grid-column: 2;
    justify-self: left;
}

/* End EditEvent Specific */


/* Start MyEvents Specific */

.event {
    display: inline-block;
    width: 400px;
    font-size: small;
    background-color: #DBDCDE;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 0 10px 5px black;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.eventInfo {
    width: 350px;
    height: 50px;
    overflow: scroll;
    margin: auto;

}

.eventInfo::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.eventContainer {
    display: inline-block;
    width: 1575px;
    text-align: start;
    padding: 10px;
}

img {
    border-radius: 10px;
}

/* End MyEvents Specific */